<div>
    <div style="text-align: center;">
        <nz-timeline nzMode="left">
            <nz-timeline-item
                *ngFor="let item of data.steps"
                nzLabel="{{item.start | date}}"
            ><span class="edit-text" (click)="changePhase(item.id)">{{item.name}}</span></nz-timeline-item>
        </nz-timeline>
    </div>

    <div class="mg-t-15" nz-row nzJustify="space-between" nzAlign="middle">
        <nz-range-picker class="mg-b-15" style="border-radius: 8px; height: 40px; width: 100%;" [nzFormat]="dateFormat" [(ngModel)]="dataTime"></nz-range-picker>
        <input [(ngModel)]="nameStep" nz-input placeholder="Name of new step" type="text" style="width: 70%; height: 40px !important;"/>
        <button (click)="updateTimeline()" nz-button nz-row nzAlign="middle" style="font-size: 14px; font-weight: 500; height: 40px;">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            <span>{{isChange != -1 ? 'Change' : 'Add step'}}</span>
        </button>
    </div>

    <div nz-row nzJustify="end" class="mg-t-15">
        <button (click)="saveToServer()" nz-button nzType="primary" style="font-weight: 400; font-size: 14px;">Save</button>
    </div>
</div>