.create-post-component{
    background-color: var(--theme-color);
    border: 1px var(--main-color) solid;
    border-radius: 20px;
    margin-right: 5rem;
    margin-top: 50vh;
    transform: translateY(-50%);
    height: 90vh;
}
.create-post-component form h1{
    color: var(--main-color);
}
.create-post-component form textarea{
    resize: none;
}
.create-post-component form button{
    font-size: 1.5rem;
    font-weight: bold;
}
.create-post-component label{
    font-size: 1.5rem;
}