<div class="mt-5">
    <div *ngIf="data.content != 'none'">
        <h2>
            <span style="color: var(--main-color);">User:</span> {{data.User.username}}
        </h2>
        <h2>
            <span style="color: var(--main-color);">Submit at:</span> {{data.updatedAt | date}}
        </h2>
        <a 
            href="{{url}}" download
            style="text-decoration: none; font-size: 1.75rem;"
        >
            If you dont see anything. Click here to download
        </a>
        <img class="mt-5" src="{{url}}" width="90%" alt="">
    </div>
    
    <div *ngIf="data.content == 'none'">
        <h2>
            <span style="color: var(--main-color);">User:</span> {{data.User.username}}
        </h2>
        <h2 style="color: var(--main-color);">
            Not turn in
        </h2>
    </div>
</div>