<div class="view-profile">
    <div class="content-profile">
        <div>
            <div class="cover" [style]="cover" (click)="openUpload('Cover')"></div>

            <div class="container-pr">
                <div class="img-profile">
                    <nz-avatar nzIcon="user" [nzSrc]="profileInfo.avatar" [nzSize]="sizeAvt" (click)="openUpload('Avatar')"></nz-avatar>
                   
                    <div class="text-statistical">
                        <div nz-row nzAlign="middle" nzJustify="space-between" class="statistical">
                            <div>{{profileInfo.solve}} Tasks solved</div>
                            <div nz-row nzAlign="middle">
                                <span nz-icon nzType="heart" nzTheme="outline" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></span>
                                {{profileInfo.like}}
                            </div>
                            <div nz-row nzAlign="middle">
                                <span nz-icon nzType="dislike" nzTheme="outline" [nzTheme]="'twotone'"></span>
                                {{profileInfo.unlike}}
                            </div>
                        </div>
                    </div>

                    <div class="text-statistical">
                        <button *ngIf="!isOtherProfile" nz-button nzType="primary" (click)="openUpdate()">
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                            Edit profile
                        </button>

                        <button *ngIf="isOtherProfile" nz-button nz-dropdown [nzDropdownMenu]="gender">
                            <span nz-icon nzType="edit" nzTheme="outline"></span>
                            Rate account
                        </button>

                        <nz-dropdown-menu #gender="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item>
                                    <span class="mg-r-10" nz-icon nzType="heart" nzTheme="outline" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></span> Like
                                </li>
                                <li nz-menu-item>
                                    <span class="mg-r-10" nz-icon nzType="dislike" nzTheme="outline" [nzTheme]="'twotone'"></span> Unlike
                                </li>
                            </ul>
                        </nz-dropdown-menu>
                    </div>
                </div>

                <div nz-row nzJustify="space-between" class="detail-content">
                    <div>
                        <div class="name-user" nz-row>
                            <h1>{{profileInfo.name}}</h1>
                            <h4 class="mg-l-18">
                                {{profileInfo.gender == 'UNDEFINE' ? 'undefined' : (profileInfo.gender == 'MALE' ? 'he/him' : 'she/her')}}
                            </h4>
                        </div>
                        <p style="font-size: 20px;">"{{profileInfo.bio == null ? '' : profileInfo.bio}}"</p>
                    </div>

    
                    <div class="infor-user">
                        <div nz-row nzAlign="middle">
                            <span class="mg-r-15" nz-icon nzType="mail" style="color: var(--primary-color);" nzTheme="outline"></span>
                            {{profileInfo.email}}
                        </div>
                        <div nz-row nzAlign="middle">
                            <span class="mg-r-15" nz-icon nzType="phone" style="color: var(--primary-color);" nzTheme="outline"></span>
                            {{profileInfo.phone == null ? 'None' : profileInfo.phone}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>