<div class="view-profile">
    <div class="content-profile">
        <div>
            <div class="cover" [style]="cover">

            </div>
            <div style="margin-left: 5rem; margin-right: 5rem;">
                <div nz-row nzJustify="space-between" class="img-profile">
                    <nz-avatar nzIcon="user" [nzSrc]="img" [nzSize]="sizeAvt"></nz-avatar>
                    <div nz-row nzAlign="middle" class="mg-t-120">
                        <div nz-row nzAlign="middle" nzJustify="space-between" class="statistical">
                            <div>200 Tasks solved</div>
                            <div nz-row nzAlign="middle">
                                <span nz-icon nzType="heart" nzTheme="outline" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></span>
                                26
                            </div>
                            <div nz-row nzAlign="middle">
                                <span nz-icon nzType="dislike" nzTheme="outline" [nzTheme]="'twotone'"></span>
                                10
                            </div>
                        </div>
                        <div>
                            <button nz-button nzType="primary">
                                <span nz-icon nzType="edit" nzTheme="outline"></span>
                                Edit profile
                            </button>
                        </div>
                    </div>
                </div>

                <div nz-row nzJustify="space-between" class="detail-content">
                    <div>
                        <div class="name-user" nz-row>
                            <h1>Son Tung MT-P</h1>
                            <h4 class="mg-l-18">he/him</h4>
                        </div>
                        <p style="font-size: 20px;">"Tờ tiền rách, dán đúng cách vẫn có giá trị. Nhân cách thối tha, xịt nước hoa vẫn thơm phức."</p>
                    </div>

    
                    <div class="infor-user">
                        <div nz-row nzAlign="middle">
                            <span class="mg-r-15" nz-icon nzType="mail" style="color: var(--primary-color);" nzTheme="outline"></span>
                            khiem.dd@gmail.com
                        </div>
                        <div nz-row nzAlign="middle">
                            <span class="mg-r-15" nz-icon nzType="phone" style="color: var(--primary-color);" nzTheme="outline"></span>
                            0852488913
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>