<div class="list-group mg-l-20 mg-r-20">
    <div class="title"><span class="logo-script">Space</span> Groups</div>
    <div nz-row nzJustify="space-between" class="mg-t-20">
        <button nz-button nzType="primary" nzSize="default" (click)="createGroup($event)">
            <span nz-icon nzType="plus" nzTheme="outline"></span>
            Create group
        </button>
        <div>
            <nz-input-group [nzSuffix]="suffixIconSearch">
                <input type="text" nz-input placeholder="Search group.." />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template>
        </div>
    </div>

    <nz-spin [nzSpinning]="loading" nzSize="large">
        <div class="group-list mg-t-25">
            <div class="group-item" *ngFor="let item of listGroup" (click)="handleClickGroupItem(item._id)">
                <app-card-group [data]="item"></app-card-group>
            </div>
        </div>
    
        <div *ngIf="listGroup.length == 0" nz-row nzJustify="center" class="mg-t-30">
            <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
                <ng-template #contentTpl>
                    <span>
                        Now, you do not join any
                        <a href="#API">Group</a>
                    </span>
                </ng-template>
                <ng-template #footerTpl>
                    <div nz-row nzJustify="center">
                        <button nz-button nzType="primary" (click)="createGroup($event)">Create Now</button>
                    </div>
                </ng-template>
            </nz-empty>
        </div>
    
        <div class="mg-t-25 mg-b-30" nz-row nzJustify="center" *ngIf="listGroup.length != 0">
            <nz-pagination (nzPageIndexChange)="handlePageIndex($event)" [nzPageIndex]="currentPage" [nzTotal]="totalRecord" nzPageSize="15"></nz-pagination>
        </div>
    </nz-spin>
</div>