<div class="post-component mg-t-20">
    <div class="composer" nz-row nzAlign="middle">
        <nz-avatar [nzSrc]="data.auth.avt" nzText="S" style="color:#f56a00; background-color:#fde3cf;" (click)="showProfile(data.auth.id)"></nz-avatar>
        <div>
            <div class="mg-l-10" style="font-weight: 600;">{{data.auth.name}}</div>
            <div class="mg-l-10" style="color: #BFC5D6">{{timeAgo(data.createdAt)}}</div>
        </div>
    </div>

    <div class="mg-tb-15">
        <h3 style="color: var(--primary-color);">Assignment</h3>
        {{data.content}}
        <div class="mg-t-15 btn-view" (click)="viewDetail()">
            <button nz-button nzType="primary">View detail</button>
        </div>
    </div>

    <!-- <div class="nav-react mg-t-18 mg-b-18">
        <div nz-row nzAlign="middle" nzJustify="center">
            <span nz-icon nzType="like" nzTheme="outline" [nzTheme]="'twotone'"></span>
            <span class="mg-l-5">You and 98 other people</span>
        </div>

        <div nz-row nzAlign="middle" nzJustify="center">
            <span nz-icon nzType="comment" nzTheme="outline"></span>
            <span class="mg-l-5">Comment</span>
        </div>
    </div>

    <hr>

    <div>
        <div style="font-weight: 500;" nz-row nzAlign="middle" class="load-cmt">
            <span nz-icon nzType="down" nzTheme="outline" class="mg-r-5"></span>
            Load more comments
        </div>
        <app-comment></app-comment>
    </div>

    <div>
        <nz-comment>
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
            <nz-comment-content>
                <nz-form-item>
                    <textarea [(ngModel)]="inputValue" nz-input placeholder="Enter your comment" style="height: 80px !important;"></textarea>
                </nz-form-item>
            </nz-comment-content>
        </nz-comment>
    </div> -->
</div>