<div class="header-component">
    <div class="logo text-center pb-5">
        <h1>ClassZoom</h1>
    </div>

    <div class="header-menu" *ngIf="hiddenHeader">
        <div 
            class="header-item d-flex justify-content-center pt-4 pb-4" 
            routerLink="/"
            [ngClass]="{'active-header' : this.typeHeader == 'home'}"
            (click)="handleChangeType('home')"
        >
            <fa-icon [icon] = "faHome"></fa-icon>
            <h4>Home</h4>
        </div>
        <div 
            class="header-item d-flex justify-content-center pt-4 pb-4" 
            routerLink="/group"
            [ngClass]="{'active-header' : this.typeHeader == 'group'}"
            (click)="handleChangeType('group')"
        >
            <fa-icon [icon] = "faUserGroup"></fa-icon>
            <h4>Group</h4>
        </div>
        <div
            class="header-item d-flex justify-content-center pt-4 pb-4" 
            routerLink="/assignment"
            [ngClass]="{'active-header' : this.typeHeader == 'assignment'}"
            (click)="handleChangeType('assignment')"
        >
            <fa-icon [icon] = "faPen"></fa-icon>
            <h4>Assignment</h4>
        </div>
        <div 
            class="header-item d-flex justify-content-center pt-4 pb-4" 
            routerLink="/profile"
            [ngClass]="{'active-header' : this.typeHeader == 'profile'}"
            (click)="handleChangeType('profile')"
        >
            <fa-icon [icon] = "faUser"></fa-icon>
            <h4>Profile</h4>
        </div>
    </div>
</div>
