.header-component{
    margin-top: 50vh;
    transform: translateY(-50%);
}
.logo h1{
    color: var(--main-color);
    font-family: 'Sarabun', sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    cursor: pointer;
}
.header-item{
    cursor: pointer;
    color: var(--gray-color);
}
.header-item:hover{
    color: var(--main-color);
    transition: all ease-in-out .3s;
}
.active-header{
    color: var(--main-color);
}
.header-item h4{
    font-size: 2rem;
    font-weight: 600; 
}
.header-item fa-icon{
    margin-right: 1rem;
    font-size: 2rem;
}