<div class="assignment-detail-component row">
    <div class="assignment-content col-sm-6">
        <div class="back-block d-flex mt-5" routerLink="/assignment">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
            <h2>Back</h2>
        </div>

        <div class="assignment-content mt-5">
            <h1 style="color: var(--main-color);">{{name}}</h1>
            <h3>Due to: {{dueto | date}}</h3>
            <p style="font-size: 1.5rem;" class="mt-5">
                {{content}}
            </p>

            <form class="d-flex justify-content-around" enctype="multipart/form-data" (submit)="submitAnswer()">
                <input type="file" name="file" (change)="fileChange($event)" class="btn btn-primary mt-5" style="font-size: 1.5rem;"/>
                <input type="submit" class="btn btn-primary mt-5" style="font-size: 1.5rem; font-weight: bold;" value="Turn in">
            </form>

            <div class="status mt-5 text-center">
                <div *ngIf="statusAssignment.content == 'none'">
                    <h2>Not turn in</h2>
                </div>
                <div *ngIf="statusAssignment.content != 'none'">
                    <h3>Submitted at {{statusAssignment.updatedAt | date}}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="assignment-img col-sm-6">
        <img width="100%" style="margin-top: 15rem;" src="../../../../assets/assignment.png" alt="">
    </div>
</div>