<div class="mg-l-20 mg-r-20">
  <div class="title"><span class="logo-script">Space</span> Documents</div>

  <div nz-row nzJustify="space-between" nzAlign="middle">
    <div (click)="onBack()">
      <nz-page-header class="site-page-header item-hover" nzBackIcon nzTitle="Back to group"></nz-page-header>
    </div>
    <div class="mg-r-25" nz-row>
      <button nz-button nzType="primary" type="submit" class="mg-r-20" (click)="openNewFolder()"
        style="display: flex; align-items: center;">
        <span nz-icon nzType="plus" nzTheme="outline"></span>
        <span>New folder</span>
      </button>
      <button nz-button nzNoColon="true" style="display: flex; align-items: center;" (click)="openUpload()">
        <span nz-icon nzType="upload" nzTheme="outline"></span>
        <span>Upload</span>
      </button>
    </div>
  </div>

  <nz-spin [nzSpinning]="loading">
    <div>
      <nz-breadcrumb>
        <nz-breadcrumb-item (click)="handleClickBread()">Documents</nz-breadcrumb-item>
        <nz-breadcrumb-item *ngFor="let item of path; index as i">
          {{ item }}
        </nz-breadcrumb-item>
      </nz-breadcrumb>
    </div>

    <div class="mg-t-25">
      <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed" [nzShowPagination]="false">
        <thead>
          <tr>
            <th nzWidth="50px"></th>
            <th nzWidth="500px">Name</th>
            <th>Date</th>
            <th>Type</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of nzTable.data"> 
            <tr style="cursor: pointer;">
              <td nzWidth="50px">
                <span *ngIf="getFileExtensionOrFolderName(data.name) == 'Folder'" nz-icon nzType="folder-open"
                  nzTheme="outline" style="font-size: 20px; color: var(--warning-weight);"></span>
                <span *ngIf="getFileExtensionOrFolderName(data.name) != 'Folder'" nz-icon nzType="file-text"
                  nzTheme="outline" style="font-size: 20px; color: var(--primary-color);"></span>
                <!-- <span nz-icon nzType="file" nzTheme="outline"></span> -->
              </td>
              <td nzWidth="500px" (click)="handleClick(data)">{{ data.name }}</td>
              <td (click)="handleClick(data)">{{ data.time | date }}</td>
              <td (click)="handleClick(data)">{{ getFileExtensionOrFolderName(data.name) }}</td>
              <td class="delete-icon">
                <span nz-icon nzType="delete" style="font-size: 18px;" nzTheme="outline"
                  (click)="openConfirmDelete(data)"></span>
                <span (click)="downloadFile(data)" class="mg-l-10" nz-icon nzType="download" nzTheme="outline" style="font-size: 18px;"></span>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </nz-spin>
</div>