<div class="mg-l-20 mg-r-20">
    <div class="title"><span class="logo-script">Space</span> Documents</div>

    <div nz-row nzJustify="space-between" nzAlign="middle">
        <div (click)="onBack()">
            <nz-page-header class="site-page-header item-hover" nzBackIcon
                nzTitle="Back to group"></nz-page-header>
        </div>
        <div class="mg-r-25" nz-row>
            <button nz-button nzType="primary" type="submit" class="mg-r-20" (click)="openNewFolder()"
                style="display: flex; align-items: center;">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                <span>New folder</span>
            </button>
            <button nz-button nzNoColon="true" style="display: flex; align-items: center;" (click)="openUpload()">
                <span nz-icon nzType="upload" nzTheme="outline"></span>
                <span>Upload</span>
            </button>
        </div>
    </div>

    <div>
        <nz-breadcrumb>
            <nz-breadcrumb-item>Documents</nz-breadcrumb-item>
            <nz-breadcrumb-item>
                <a>Application List</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item>An Application</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div class="mg-t-25">
        <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed" [nzShowPagination]="false">
            <thead>
              <tr>
                <th style="width: 50px;"></th>
                <th>Name</th>
                <th>Date</th>
                <th>Owner</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of nzTable.data">
                <tr>
                  <td>
                    <span nz-icon nzType="folder-open" nzTheme="outline" style="font-size: 20px; color: var(--warning-weight);"></span>
                    <!-- <span nz-icon nzType="file" nzTheme="outline"></span> -->
                  </td>
                  <td>{{ data.name }}</td>
                  <td>{{ data.age }}</td>
                  <td>{{ data.address }}</td>
                  <td class="delete-icon">
                    <span nz-icon nzType="delete" style="font-size: 18px;" nzTheme="outline" (click)="openConfirmDelete()"></span>
                    <span class="mg-l-10" nz-icon nzType="download" nzTheme="outline" style="font-size: 18px;"></span>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
    </div>
</div>