<div class="profile-component row text-center">
    <div class="col-sm-4 profile-image">
        <img width="100%" src="../../../assets/profile.png" alt="">
    </div>
    <div class="col-sm-8 infor-profile">
        <h1>Information of account</h1>
        <img src="../../../assets/avatar-female-1.png" style="width: 30%;" alt="">
        <table class="table table-primary table-striped table-profile">
            <thead>
                <tr>
                    <th scope="col">Information</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>Mark</td>
                </tr>

                <tr>
                    <th scope="row">Email</th>
                    <td>mark@gmail.com</td>
                </tr>

                <tr>
                    <th scope="row">Gender</th>
                    <td>Female</td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-primary mt-3">Log out</button>
    </div>
</div>
