<div class="group-component mt-5">
    <h1 class="text-center">YOUR GROUPS</h1>
    <div class="abstract-group d-flex justify-content-around mb-5">
        <div class="abs-gr-item text-center">
            <h1>{{groupCount}}</h1>
            <h3>Group</h3>
        </div>

        <div class="abs-gr-item text-center">
            <h1>{{moderatorCount}}</h1>
            <h3>Moderator</h3>
        </div>

        <div class="abs-gr-item text-center">
            <h1>{{memberCount}}</h1>
            <h3>Member</h3>
        </div>
    </div>

    <div class="group-list row">
        <div class="group-item d-flex justify-content-around" *ngFor="let group of listGroup" routerLink="/group/detail/{{group.groupId}}">
            <img src="../../../assets/{{group.subject}}.png" width="15%" alt="avatar-group">
            <div class="description-group mt-3">
                <h1 style="font-size: 2rem; font-weight: bold;">{{group.groupName}}</h1>
                <h3 style="font-size: 1.5rem;">{{group.description}}</h3>
            </div>
            <div class="total-member text-center mt-3">
                <h1>{{group.totalMember}}</h1>
                <h3>Member</h3>
            </div>
        </div>
    </div>
</div>