<div class="assignment-component mt-5">
    <h1 class="text-center">YOUR ASSIGNMENTS</h1>
    <div class="abstract-assignment d-flex justify-content-around mb-5">
        <div class="abs-assignment-item text-center">
            <h1>{{assAll}}</h1>
            <h3>Assignment</h3>
        </div>

        <div class="abs-assignment-item text-center">
            <h1>{{assNotTurnIn}}</h1>
            <h3>Not turn in</h3>
        </div>

        <div class="abs-assignment-item text-center">
            <h1>{{assDone}}</h1>
            <h3>Done</h3>
        </div>

        <div class="abs-assignment-item text-center">
            <h1>{{assOwner}}</h1>
            <h3>Owner</h3>
        </div>
    </div>

    <div class="assignment-list row">
        <div 
            class="assignment-item d-flex justify-content-around" 
            *ngFor="let assignment of listAssignment" 
            routerLink="/assignment/{{assignment.content == 'owner' ? 'owner' : 'detail'}}/{{assignment.postid}}"
        >
            <fa-icon [icon]="faFile" class="mt-2"></fa-icon>
            <div class="description-assignment mt-3">
                <h2>{{assignment.Assignment.name}}</h2>
                <h4>History class</h4>
            </div>
            <div class="text-center mt-3">
                <h2>Due to</h2>
                <h4>{{assignment.Assignment.dueto | date}}</h4>
            </div>
        </div>
    </div>
</div>