.assignment-component>h1{
    font-weight: bold;
    font-size: 3rem;
    color: var(--main-color);
    margin-bottom: 3rem;
}
.abs-assignment-item h1{
    color: var(--main-color);
    font-weight: bold;
}
.assignment-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin: auto 10px;
}
.assignment-item{
    cursor: pointer;
    border: 1px var(--main-color) solid;
    border-radius: 20px;
    transition: all ease-in-out .3s;
}
.assignment-item:hover{
    transform: scale(1.05);
    color: var(--main-color);
}
.assignment-item fa-icon{
    font-size: 4rem;
    color: var(--main-color);
}