<div class="login-component" nz-row nzAlign="middle" nzJustify="center">
    <div class="content-login row">
        <div class="col-lg-6" nz-row nzAlign="middle" nzJustify="center">
            <img style="width: 80%;" src="../../../assets/login.png" alt="">
        </div>
        <div class="col-lg-6 form-login" nz-row nzJustify="center">
            <div>
                <h2 nz-typography>Welcome to <span class="logo-script">Space</span></h2>
                <h2>Login</h2>
                <form nz-form nzLayout="vertical">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                        <input nz-input formControlName="email" id="email" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="email">Password</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid!">
                        <input nz-input formControlName="password" id="password"/>
                        </nz-form-control>
                    </nz-form-item>

                    <button nz-button nzType="primary">Login</button>
                    <h3>Dont have account? Register</h3>
                </form>
            </div>
        </div>
    </div>
</div>