.login-component{
    height: 100vh;
}
.content-login{
    width: 1000px;
    border-radius: 18px;
    box-shadow: -1px 1px 26px 7px rgba(76,148,246,0.22);
}
.form-login{
    background-color: var(--theme-color);
}
input{
    width: 320px !important;
}
.trans{
    text-align: center;
}
.trans:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.wel-mobile{
    display: none;
}

@media (min-width: 576px) and (max-width: 991px){
    .content-login{
        width: 500px;
    }
}
@media (max-width: 575px){
    .content-login{
        height: 100vh;
    }
    // .wel-web{
    //     display: none;
    // }
    // .wel-mobile{
    //     display: block;
    //     margin-bottom: 0 !important;
    // }
    // .ant-typography h2, div.ant-typography-h2, div.ant-typography-h2>textarea, h2.ant-typography{
    //     margin-bottom: 10px;
    // }
}