.login-component{
    height: 100vh;
}
.content-login{
    width: 1000px;
    border-radius: 18px;
    box-shadow: -1px 1px 26px 7px rgba(76,148,246,0.22);
}
.form-login{
    background-color: var(--theme-color);
}