<div class="create-assignment-component d-flex justify-content-center">
    <form action="" [formGroup]="createAssignmentForm" (ngSubmit)="createAssignment()">
        <h1 class="text-center title-create mt-5">Create new assignment</h1>

        <div class="form-group mt-3">
            <label for="content">Content:</label>
            <textarea class="form-control" rows="10" cols="80" formControlName="content"></textarea>
        </div>

        <div class="form-group mt-3">
            <label for="dueto">Due to:</label>
            <input type="date" class="form-control" formControlName="dueto">
        </div>

        <button type="submit" class="btn btn-primary mt-3">Create</button>
    </form>
</div>