.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
    background-color: #fff;
    color: black;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a,
.ant-menu-dark .ant-menu-item>span>a {
    color: black;
    background-color: #fff;
}

//hover
.ant-menu-dark .ant-menu-item-active,
.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-submenu-active,
.ant-menu-dark .ant-menu-submenu-open,
.ant-menu-dark .ant-menu-submenu-selected,
.ant-menu-dark .ant-menu-submenu-title:hover {
    color: #fff;
    background-color: var(--primary-color) !important;
}

::ng-deep {
    .ant-layout-sider-trigger {
        background: var(--primary-color) !important;
    }

    .ant-menu-dark .ant-menu-inline.ant-menu-sub {
        background: #fff !important;
    }

    .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
    .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
    .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
    .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
    .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
    .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::before {
        background: black !important;
    }

    .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow,
    .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow,
    .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow {
        opacity: 1;
    }
    .ant-layout-sider{
        background: #fff;
    }
    .ant-layout-sider-zero-width-trigger-left{
        display: none !important;
    }
    nz-sider{
        height: 99vh !important;
    }
}

.logo{
    h1{
        margin-top: 1rem;
    }
    background-image: url(../assets/backlogo.png);
}
.menu-mobile{
    display: none;
}
.overlay{
    background-color: rgba(0,0,0,.6);
    height: calc(100vh - 30px - 1rem);
    position: relative;
    right: 0;
    bottom: 0;
}

@media (max-width: 576px){
    .menu-mobile{
        padding-top: 1rem;
        display: grid;
        grid-template-columns: 1.5fr 7fr;
        background-image: url(../assets/backlogo.png);
    }
}