<div class="home-component row">
    <div class="first-block col-sm-8 col-12">
        <div class="header-home justify-content-around">
            <div class="title">
                <h1 style="font-size: 3rem; margin-bottom: 0 !important;">Hi, {{userName}}</h1>
                <h2 style="color: var(--main-color);">{{ dataTime | date}}</h2>
            </div>
            <button nz-button nzType="primary" nzSize="default" (click)="handleCreateGr()">
                <span nz-icon nzType="plus" nzTheme="outline"></span>
                Create group
            </button>
        </div>

        <div style="background-color: white; border-radius: 8px;" class="m-4 pd-l-20 pd-r-20">
            <app-column-home></app-column-home>
        </div>

        <p class="m-4" style="font-size: 20px; font-weight: 500;">Your groups</p>

        <div class="group-list m-4">
            <div class="group-item" *ngFor="let item of listGroup" (click)="handleClickGroupItem(item._id)">
                <app-card-group [data]="item"></app-card-group>
            </div>
        </div>

        <div *ngIf="listGroup.length == 0" nz-row nzJustify="center" class="mg-tb-30">
            <nz-empty nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                [nzNotFoundContent]="contentTpl" [nzNotFoundFooter]="footerTpl">
                <ng-template #contentTpl>
                    <span>
                        Now, you do not join any
                        <a href="#API">Group</a>
                    </span>
                </ng-template>
                <ng-template #footerTpl>
                    <div nz-row nzJustify="center">
                        <button nz-button nzType="primary" (click)="handleCreateGr()">Create Now</button>
                    </div>
                </ng-template>
            </nz-empty>
        </div>
    </div>
    <div class="second-block col-sm-4 col-12">
        <div class="account d-flex justify-content-center align-items-center" (click)="navigateProfile()">
            <nz-avatar nzText="U" nzSize="large"></nz-avatar>
            <h2>{{userName}}</h2>
        </div>

        <div class="your-assignment mt-5">
            <div nz-row nzJustify="space-between" nzAlign="middle">
                <h2>Assignment</h2>
                <nz-select [(ngModel)]="typeAssignment" nzSize="large" class="mg-r-20">
                    <nz-option nzValue="doing" nzLabel="Doing"></nz-option>
                    <nz-option nzValue="done" nzLabel="Done"></nz-option>
                    <nz-option nzValue="pending" nzLabel="Pending"></nz-option>
                    <nz-option nzValue="cancel" nzLabel="Cancel"></nz-option>
                    <nz-option nzValue="all" nzLabel="All"></nz-option>
                </nz-select>
            </div>
            <div class="assignment-list m-4">
                <div 
                    class="assignment-item" 
                    *ngFor="let assignment of listAssignment" 
                    routerLink="/assignment/{{assignment.content == 'owner' ? 'owner' : 'detail'}}/{{assignment.postid}}"
                >
                    <app-card-assingment [data]="assignment"></app-card-assingment>
                </div>
            </div>
        </div>
    </div>
</div>