.home-component{
    margin-top: 2rem;
}
.account{
    cursor: pointer;
}
.account h2{
    font-weight: 500;
    margin-bottom: 0 !important;
    margin-left: 2rem;
}
.your-assignment h2{
    color: black;
    font-weight: 500;
    margin-bottom: 0 !important;
}
.item-icon{
    margin-right: 2rem;
    background-color: var(--theme-color);
    border-radius: 15px;
}
.assignment-item{
    cursor: pointer;
}
.add-group{
    border: none;
    border-radius: 20px;
    background-color: var(--main-color);
}
.group-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
}
.group-item{
    cursor: pointer;
    transition: all ease-in-out .2s;
}
.total-member h1{
    font-weight: bolder;
    margin-top: 2.5rem;
}

.header-home{
    display: flex;
    align-items: center;
}

.header-home button{
    display: flex;
    align-items: center;
    font-weight: 500;
}
nz-select{
    width: 200px;
}

@media (max-width: 576px){
    .header-home{
        display: block;
        text-align: center;

        button{
            margin: auto;
        }
    }

    .group-list{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .second-block .account{
        display: none !important;
    }
    .your-assignment h2{
        margin-left: 15px;
    }
}