<div class="update-group-component">
    <div class="nav-update-group d-flex justify-content-center">
        <div class="input-group mt-5" style="width: 70%;">
            <input type="text" class="form-control" placeholder="Enter email to add members" aria-label="Recipient's username with two button addons">
            <button class="btn btn-outline-secondary" type="button">Add Member</button>
            <button class="btn btn-outline-secondary" type="button" (click)="deleteGroup(groupId)">Delete Group</button>
        </div>
    </div>

    <h1 class="mt-5" style="color: var(--gray-color);">Members of group</h1>

    <div class="list-member mt-5">
        <div class="member-item d-flex" *ngFor="let i of list">
            <img width="10%" src="../../../../assets/avatar-female-1.png" alt="">
            <div class="member-infor" style="margin-top: 5px; margin-left: 10px;">
                <h3>Do Duc Khiem</h3>
                <h5>Member</h5>
            </div>
        </div>
    </div>
</div>