<div class="detail-group-component">
    <div class="detail-header d-flex">
        <div class="name-group d-flex">
            <img src="../../../../assets/hi.png" alt="avatar group">
            <h1 class="mt-4 p-4" style="color: var(--main-color);">History Class</h1>
        </div>

        <div class="action-group d-flex">
            <div class="action-item" title="Post" routerLink="/group/create-post/{{groupId}}">
                <fa-icon [icon]="faPenToSquare"></fa-icon>
            </div>

            <div class="action-item" title="Assignment" routerLink="/assignment/create/{{groupId}}">
                <fa-icon [icon]="faBookOpen"></fa-icon>
            </div>

            <div class="action-item" title="Call" (click)="makeVideoCall()">
                <fa-icon [icon]="faSquarePhone"></fa-icon>
            </div>

            <div class="action-item" title="Setting" routerLink="/group/update/{{groupId}}">
                <fa-icon [icon]="faGear"></fa-icon>
            </div>
        </div>
    </div>

    <div class="group-content">
        <div class="d-flex justify-content-center">
            <img src="../../../../assets/7800.jpg" alt="" class="hello-picture">
        </div>
        <h1 class="text-center">Let's get the conversation started</h1>
        <div class="post-list">
            <div class="post-item mt-5" *ngFor="let post of posts">
                <div class="owner d-flex">
                    <img src="../../../../assets/avatar-{{post.User.gender}}-1.png" alt="avatar user">
                    <h3 style="font-weight: bold;" class="mt-3">{{post.User.username}}</h3>
                </div>

                <div class="content-detail">
                    <p *ngIf="post.type != 'call'">{{ post.content }}</p>
                    <p *ngIf="post.type == 'call'" style="color: var(--main-color); font-size: 1.75rem;">
                        Meeting {{post.createdAt | date}}
                    </p>
                </div>

                <div *ngIf="post.type == 'assignment'">
                    <button 
                        *ngIf="post.User.id != userId"
                        routerLink="/assignment/detail/{{post.id}}"
                        class="btn btn-primary"
                        style="font-size: 1.5rem; margin: 1rem; margin-left: 0;"
                    >
                        View Detail
                    </button>
                    <button 
                    *ngIf="post.User.id == userId"
                        routerLink="/assignment/owner/{{post.id}}"
                        class="btn btn-primary"
                        style="font-size: 1.5rem; margin: 1rem; margin-left: 0;"
                    >
                        View Detail
                    </button>
                </div>

                <div *ngIf="post.type == 'call'">
                    <button 
                        (click)="joinCall(post.content)"
                        class="btn btn-primary"
                        style="font-size: 1.5rem; margin: 1rem; margin-left: 0;"
                    >
                        Join
                    </button>
                </div>

                <div class="comment-section">
                    <h2 style="color: var(--gray-color); cursor: pointer;" (click)="showComment(post.id)">Comment</h2>
                    <div class="comment-list" *ngIf="isShow">
                        <div class="owner d-flex mt-4" *ngFor="let comment of post.Comment">
                            <img src="../../../../assets/avatar-{{comment.User.gender}}-1.png" alt="avatar user">
                            <div class="detail-comment">
                                <h4 style="font-weight: bold;">{{comment.User.username}}</h4>
                                <h5>{{comment.comment}}</h5>
                            </div>
                        </div>
                        
                    </div>

                    <div class="comment-input d-flex mt-5">
                        <img src="../../../../assets/avatar-{{post.User.gender}}-1.png" alt="avatar user">
                        <input type="text" placeholder="Enter your comment" [(ngModel)]="comment">
                        <input type="submit" value="Comment" (click)="createComment(post.id)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>