.img-hello{
    width: 640px;
}

@media (max-width: 576px){
    .img-hello{
        width: 300px;
    }
}

btn-right{
    font-size: 14px !important;
    display: flex;
    align-items: center;
    width: 24px;
    text-align: center;
    font-weight: 300 !important;
}