<div class="detail-group mg-l-20 mg-r-20 row">
    <div class="col-12 col-sm-8">
        <div nz-row nzJustify="center">
            <img src="../../../../assets/7800.png" class="img-hello">
        </div>
        <div *ngFor="let item of listPost">
            <app-post *ngIf="!item.isAssignment" [data]="item"></app-post>
            <app-post-assignment *ngIf="item.isAssignment" [data]="item"></app-post-assignment>
        </div>
        <nz-spin [nzSpinning]="loading" nzSize="large" style="height: 100px;"></nz-spin>
    </div>

    <div class="col-12 col-sm-4 mg-t-20">
        <h2 style="text-align: center;">{{groupInfo.name}}</h2>
        <div nz-row nzJustify="space-between" nzAlign="middle" class="mg-t-15">
            <nz-select style="width: 300px;" nzMode="multiple" nzPlaceHolder="Please select" [nzOptions]="listUser"
                [(ngModel)]="listOfSelectedValue"></nz-select>
            <button nz-button nzType="primary">
                <span (click)="addMember()" nz-icon nzType="user-add" nzTheme="outline" style="font-size: 24px; cursor: pointer;">
                </span>
            </button>
        </div>

        <div nz-row nzJustify="space-between" nzAlign="middle" class="mg-t-15">
            <button nz-button class="btn-right"
                style="font-weight: 400; padding-left: 15px; padding-right: 15px; display: flex; align-items: center; font-size: 14px;">
                <span nz-icon nzType="phone" nzTheme="outline"></span>
                <span>Call</span>
            </button>
            <button nz-button class="btn-right" (click)="openModalCreate()"
                style="font-weight: 400; padding-left: 15px; padding-right: 15px; display: flex; align-items: center; font-size: 14px;">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
                <span>Post</span>
            </button>
            <button nz-button class="btn-right" (click)="handleClickFile()"
                style="font-weight: 400; padding-left: 15px; padding-right: 15px; display: flex; align-items: center; font-size: 14px;">
                <span nz-icon nzType="file" nzTheme="outline"></span>
                <span>File</span>
            </button>
            <button nz-button class="btn-right" (click)="openModalDelete()"
                style="font-weight: 400; padding-left: 15px; padding-right: 15px; display: flex; align-items: center; font-size: 14px;">
                <span nz-icon nzType="delete" nzTheme="outline"></span>
                <span>Delete</span>
            </button>
        </div>

        <div class="mg-t-15">
            <h3>Member</h3>
            <nz-list nzItemLayout="horizontal">
                <nz-list-item *ngFor="let item of groupInfo.members" style="background-color: #fff;"
                    class="pd-l-10 pd-r-10">
                    <nz-list-item-meta nzAvatar="{{ item.avt ? item.avt : 'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'}}"
                        nzDescription="{{item.name}}">
                        <nz-list-item-meta-title>
                            {{item.isAdmin ? 'Admin' : 'Member'}}
                        </nz-list-item-meta-title>

                    </nz-list-item-meta>
                    <ul nz-list-item-actions>
                        <nz-list-item-action style="cursor: pointer !important;">
                            <a (click)="showProfile(item.id)">View profile</a>
                        </nz-list-item-action>
                        <nz-list-item-action style="cursor: pointer;">
                            <a (click)="deleteMember(item.id)">Delete</a>
                        </nz-list-item-action>
                    </ul>
                </nz-list-item>
            </nz-list>
        </div>
    </div>

</div>