<div class="post-component mg-t-20" *ngIf="isShow">
    <div class="composer" nz-row nzAlign="middle">
        <nz-avatar (click)="showProfile(data.auth.id)" [nzSrc]="data.auth.avt" nzText="S" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
        <div>
            <div class="mg-l-10" style="font-weight: 600;">{{data.auth.name}}</div>
            <div class="mg-l-10" style="color: #BFC5D6">{{timeAgo(data.createdAt)}}</div>
        </div>
    </div>

    <div class="mg-t-15">
        {{data.content}}
    </div>

    <div class="nav-react mg-t-18 mg-b-18">
        <div nz-row nzAlign="middle" nzJustify="center">
            <span nz-icon nzType="like" nzTheme="outline" [nzTheme]="'twotone'"></span>
            <span class="mg-l-5">
                {{isReact ? ((data.reacts.length > 2) ? 'You and '+ (data.reacts.length - 1) + ' other people' : 'You') : data.reacts.length}}
            </span>
        </div>

        <div nz-row nzAlign="middle" nzJustify="center">
            <span nz-icon nzType="comment" nzTheme="outline"></span>
            <span class="mg-l-5">Comment</span>
        </div>
    </div>

    <hr>

    <div *ngIf="data.comments.length > 0">
        <div style="font-weight: 500;" nz-row nzAlign="middle" class="load-cmt" *ngIf="data.comments.length > 2" (click)="loadMoreCmt()">
            <span nz-icon nzType="down" nzTheme="outline" class="mg-r-5"></span>
            {{ isEmptyCmt ? 'Collapse' : 'Load more comments'}}
        </div>
        <app-comment [listCmt]="data.comments"></app-comment>
    </div>

    <div>
        <nz-comment>
            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="data.auth.avt"></nz-avatar>
            <nz-comment-content>
                <nz-form-item>
                    <textarea (keydown)="onKeydown($event)" [(ngModel)]="inputValue" nz-input placeholder="Enter your comment" style="height: 80px !important;"></textarea>
                </nz-form-item>
            </nz-comment-content>
        </nz-comment>
    </div>
</div>