<div class="post-component">
    <div class="composer" nz-row nzAlign="middle">
        <nz-avatar nzText="S" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
        <div class="mg-l-10" style="font-weight: 600;">Sơn Tùng M-TP</div>
    </div>

    <div class="mg-t-15">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
    </div>

    <div class="nav-react mg-t-18 mg-b-18">
        <div nz-row nzAlign="middle" nzJustify="center">
            <span nz-icon nzType="like" nzTheme="outline" [nzTheme]="'twotone'"></span>
            <span class="mg-l-5">You and 98 other people</span>
        </div>

        <div nz-row nzAlign="middle" nzJustify="center">
            <span nz-icon nzType="comment" nzTheme="outline"></span>
            <span class="mg-l-5">Comment</span>
        </div>
    </div>

    <hr>

    <div>
        <div style="font-weight: 500;" nz-row nzAlign="middle" class="load-cmt">
            <span nz-icon nzType="down" nzTheme="outline" class="mg-r-5"></span>
            Load more comments
        </div>
        <app-comment></app-comment>
    </div>
</div>